.intro {
    min-height: 100vh; /* Alterado von height: 100dvh para min-height: 100vh para bessere Viewport-Unterstützung */
}

/* === Section Inspiration === */
.section-inspiration {
    & .highlight {
        text-align: center;
        padding-bottom: 2rem;
    }

    & figure {
        width: 100%;
        max-height: 30rem; /* Max-Höhe für flexiblere Anpassung */
        background-color: beige;
        aspect-ratio: 16/9; /* Sicherstellt, dass das Bild ein festes Verhältnis behält */
    }

    & .daten {
        padding-top: 3rem;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Anpassung für mehr Flexibilität bei verschiedenen Bildschirmgrößen */
    }

    & .card {
        text-align: center;

        & h2 {
            font-weight: 700;
            font-size: var(--text-md);
        }
    }

    & .daten-info {
        padding-block: 3rem;
        width: 100%;
        text-align: center;
    }

    & .data-cards {
        padding-block: 2rem;
        display: flex;
        justify-content: center;
    }

    & .additional-info {
        text-align: center;
    }

    & .btn-inspiration {
        display: flex;
        justify-content: center;
        gap: 2rem;
        z-index: 1;
        flex-wrap: wrap; /* Ermöglicht bessere Anpassung, falls Buttons nicht nebeneinander passen */
    }
}

/* === Button Styling === */
.btn-section-02 {
    display: flex;
    gap: 2rem;
    z-index: 1;
    flex-wrap: wrap; /* Hinzugefügt für mehr Flexibilität auf kleinen Bildschirmen */
}
